@import url('https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&family=IM+Fell+DW+Pica+SC&family=IM+Fell+DW+Pica:ital@0;1&display=swap');



body {
    font-family: "IM Fell DW Pica", serif;
    font-size: 16pt;
    font-weight: 400;
    margin: 4em auto;
    max-width: 600px;

    background-color: #fff;
    background-image: url(https://img.itch.zone/aW1nLzgwMjIxNjMucG5n/original/ayzeF6.png);
    background-repeat: repeat;
    background-position: 50% 0;
}

.main-container {
    margin: 1em;
}

h1 {
    width: 100%;
    text-align: left;
    letter-spacing: 2px;
    line-height:1;
    font-weight: 400;
    font-style: normal;
}

#changeRoomName {
    font-size: 1.5em;
    font-weight: 700;
    margin-block-end: -0.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.roomheader {
    border-bottom: 2px dotted black;
    border-top-width: 0;
}

button {
    color: black;
    background-color: white;
    padding: 1rem 2rem;
    border: 2px solid black;
    font-family: "IM Fell DW Pica", serif;
    font-size: 1em;
    width: 100%;
}
button:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

button:active {
    transform: rotate(1deg);
}

button:focus-visible,
button:focus {
    outline: black solid;
    outline-offset: 2px;
    outline-width: 4px;
    border-radius: 2px;
}

.small-caps {
    font-family: "IM Fell DW Pica SC", serif;
    text-decoration: underline;
    font-weight: 700;
}

footer {
    margin: 4em 0;
    opacity: 0.3;
    font-size: 0.75em;
    text-align: center;
}

.cross {
    display: inline-block;
    font-family: sans-serif;
    transform: rotate(180deg);
    font-size: 0.5em;
    font-weight: 100;
}


#changeAdjectives1 {
    font-style: italic;
    font-weight: 100;
}