@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=IM+Fell+DW+Pica:ital@0;1&display=swap');

:root {
    color-scheme: light;
    --fg-default: #1e1e1e;
    --bg-default: #fafafa;
    --fg-muted: #595959;
    --bg-img: url('../mb-roomgen/bg_light.png');
    --icon: url('../mb-roomgen/moon.png');
  }
 
  [data-theme="dark"] {
    color-scheme: dark;
    --fg-default: #f7f7f7;
    --bg-default: #1e1e1e;
    --fg-muted: #aaa;
    --bg-img: url('../mb-roomgen/bg_dark.png');
    --icon: url('../mb-roomgen/sun.png');
  }

button:focus-visible,
button:focus {
    outline: var(--fg-default) solid 4px;
    outline-offset: 2px;
    border-radius: 2px;
}

body {
    color: var(--fg-default);
    font-family: "IM Fell DW Pica", serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 24px 16px;

    display: flex;

    background-color: var(--bg-default);
    background-image: var(--bg-img);
    background-repeat: repeat;
    background-position: 50% 0;
}

.main-container {
    margin: 0;
    max-width:800px;
}

@media screen and (min-width:600px) {
    body {
        font-size: 1.2rem;
        margin: 16px;
    }
    .main-container {
        margin: 48px auto;
        width: 50%;
    }
    button {
        font-size: 1.2rem;
    }
}

h1 {
    letter-spacing: 2px;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 0px;
}

#room-adjectives {
    margin-top: 0px;
}

.roomheader {
    border-bottom: 2px dotted var(--fg-default);
    border-top-width: 0;
}

ul {
    padding-left: 24px;
}

button {
    color: var(--fg-default);
    background-color: transparent;
    padding: 16px 32px;
    border: 2px solid var(--fg-default);
    font-family: "IM Fell DW Pica", serif;
    font-size: 1.2rem;
    width: 100%;
}
button:hover {
    cursor: pointer;
    color: var(--bg-default);
    background-color: var(--fg-default);
}

button:active {
    transform: rotate(1deg);
}

.dark-mode-container {
    width: 100%;
    display:flex;
}

#theme-toggle {
    background-color: transparent;
    background-image: var(--icon);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    border: 0;
    width: 120px;
    height: 120px;
    margin: 16px auto;
    border-radius: 999px;
}

#theme-toggle:hover {
    cursor: pointer;
    color: var(--fg-default);
    background-color: transparent;
    border: 2px solid transparent;
}
#theme-label {
    background-color: var(--bg-default);
}

.small-caps {
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 700;
}

footer {
    margin: 48px 0;
    color: var(--fg-muted);
    font-size: 0.8rem;
    text-align: center;
}

#room-adjectives {
    font-style: italic;
    font-weight: 100;
}